/* #region Basical */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

header {}

/* #endregion */

/* #region Common */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accent-background {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.accent-background-cloud {
    background-color: #F4F4FD;
}

.accent-text {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}
.animation {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Navigation */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav-con {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation-list{
    display: flex;
    gap: 40px;
    margin-left: 76px;
    padding-left: 0;
}

.nav-logo {
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-studio {
    color: #2E2F42;
}
.navigation-list-link {
    font-weight: 500;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    position: relative;
    color: #404bbf;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    
    width: 100%;
    height: 4px;
    
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    display: inline-block;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
    padding-left: 0;
}

.contacts-list-link {
    text-decoration: none;
    font-style: normal;
    color: #434455;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
    color: #404BBF;
}

/* #endregion */

/* #region Hero */
.hero {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    
    padding: 188px 0;
    
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/office.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-con {
    text-align: center;
    padding-right: 316px;
    padding-left: 316px;
}

.hero-headline {
    font-size: 56px;
    line-height: 1.07143;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region Features */
.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-headline {
    margin-bottom: 8px;
}
.features-icon {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}
.features-desc {}
/* #endregion */

/* #region Team */
.team {
    padding: 120px 0;
}

.team-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-headline {
    padding-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-con {
    padding: 32px 16px;
}

.team-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    
}
.team-icon {
    height: 260px;
    width: 264px;
}

.team-list-item-member {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item-desc {
    text-align: center;
}
.team-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.team-socials-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}
.team-socials-con {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 16px;
    height: 16px;
    color: #F4F4FD;
    fill: #F4F4FD;
}

.team-socials-con:hover, 
.team-socials-con:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
    padding: 120px 0;
}

.portfolio-headline {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-con {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.portfolio-item {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #4D5AE5;
    color: #f4f4fd;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

/* #endregion */

/* #region Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}

/* Left side */

.footer-left {
    max-width: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #4d5ae5;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
    margin-top: 16px;
    color: #f4f4fd;
}

/* Social block */

.footer-social-title {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31d0aa;
}

.footer-social-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

/* #endregion */